<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.usj.remindy">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Remindy"
        tools:targetApi="31">

        <service
            android:name = "NotificationService"
            android:enabled = "true"
            android:exported = "true" >
        </service>
        <activity
            android:name=".AddNewExpireDateReminder"
            android:exported="false" />
        <activity
            android:name=".AddNewWaterReminder"
            android:exported="false" />
        <activity
            android:name=".AddNewClinicData"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealReminder_intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealReminder_Setting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpiryDateReminder"
            android:exported="false" />
        <activity
            android:name=".ClinicReportReminder"
            android:exported="true" />
        <activity
            android:name=".MedicineReminder"
            android:exported="false" />
        <activity
            android:name=".AddNewMedicineData"
            android:exported="false" />
        <activity
            android:name=".WaterReminder"
            android:exported="false" />


        <receiver
            android:name=".MemoBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>



</manifest>